.Login {
  display: flex; 
  height: 100%;
  font-family: var(--font-sans);
  overflow: hidden;
}

@media (max-width: 768px) {
  .Login { 
    flex-direction: column; 
    height: auto;
    overflow: visible;
  }
}
