.AuthBgCurve {
  width: 100%;
  height: 100%;
}

.AuthBgCurve__path {
  fill: var(--color-bg-white);
}

.AuthLeafLines {
  stroke: var(--color-bg-white);
  stroke-opacity: 0.4;
  stroke-width: 1px;
}

.AuthLeafLines--dashed {
  stroke-dasharray: 5, 5;
}

.ZigZagLightning {
  stroke: currentColor;
  stroke-width: 2.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
